@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Nav panel */
.fixed_nav {
  width: 100%;
  max-width: 1440px;
  position: fixed;
  background-color: #F2EEE3;
  z-index: 1;
  opacity: 0.95; }

.logo {
  float: left;
  margin: 32px 0 0 18.1%; }

.menu_bar {
  display: none;
  float: right;
  cursor: pointer;
  margin: 21px 27px 0 0; }

.nav_menu {
  float: right;
  margin: 15px 14.3% 0 0; }
  .nav_menu li {
    margin-right: 45px; }
  .nav_menu a {
    color: #000000;
    font-size: 0.95rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-align: center; }
    .nav_menu a:hover {
      text-decoration: underline; }

.nav_menu_bottom {
  display: none;
  margin-top: -35px; }
  .nav_menu_bottom p {
    width: 48%;
    display: inline-block;
    text-align: left;
    margin-left: 70px;
    color: #cccccc;
    font-size: 1.07rem;
    line-height: 5.2rem;
    letter-spacing: 0.2rem; }
  .nav_menu_bottom.links {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-right: 0; }
    .nav_menu_bottom.links a:first-child {
      margin-right: 25px; }
    .nav_menu_bottom.links a:hover {
      opacity: 0.8; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .fixed_nav {
    margin: 0; }
  .logo {
    margin: 25px 0 0 55px;
    width: 129px; }
  .menu_bar {
    display: block; }
  .nav_menu {
    display: none;
    float: left;
    width: 100%;
    height: auto;
    background-color: #000000;
    text-align: center;
    opacity: 0.93;
    z-index: 1; }
    .nav_menu ul {
      margin-top: 20px; }
    .nav_menu li {
      display: block; }
    .nav_menu a {
      color: #cccccc;
      font-size: 1.6rem;
      line-height: 5.2rem; }
  .nav_menu_bottom {
    display: block; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .logo {
    margin: 10px 0 0 16px;
    width: 138px; }
  .nav_menu {
    height: auto; }
    .nav_menu ul {
      margin-top: 100px; }
  .nav_menu_bottom {
    margin-top: 35px;
    margin-bottom: -17px; }
    .nav_menu_bottom p {
      margin-left: 15px; }
    .nav_menu_bottom.links {
      margin-right: 10px; } }

/* Header */
header {
  margin-bottom: -4px; }

.banner {
  position: relative;
  width: 100%;
  opacity: 0.9;
  z-index: -1; }

#cover, #cover_640 {
  width: 100%; }

#cover_mob {
  width: 100%;
  display: none; }

#cover_640 {
  display: none; }

.banner_text {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  margin: auto;
  text-align: center; }
  .banner_text h1 {
    font-size: 5.33rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px; }

.banner_ptag {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 35px; }

.banner_ptag_short {
  display: none; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .banner_text {
    top: 31%; }
    .banner_text img {
      display: none; }
    .banner_text h1 {
      font-size: 4.67rem;
      margin-bottom: 45px;
      transform: scaleX(1.0011); }
  .banner_ptag {
    margin-top: 45px;
    transform: scaleX(1.0011); } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  #cover {
    display: none; }
  #cover_640 {
    display: block; }
  .banner {
    opacity: 1; }
  .banner_text h1 {
    font-size: 4rem;
    line-height: 3.9rem;
    margin-bottom: 35px; }
  .banner_ptag {
    display: none; }
  .banner_ptag_short {
    display: block;
    font-size: 1.33rem;
    font-weight: 500;
    line-height: 3.5rem; } }

/* Mobile view */
@media screen and (max-width: 480px) {
  #cover_640 {
    display: none; }
  #cover_mob {
    display: block; } }

/* Obligations */
.section_obligations {
  float: left;
  text-align: center;
  line-height: 1.6rem; }

.obligations {
  background-color: #FBFBFB;
  height: 33.33%;
  width: 33.33%;
  float: left; }
  .obligations.middle {
    background-color: #EDEDED; }
  .obligations h3 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2em; }
  .obligations p {
    font-size: 1.07rem;
    width: 78%;
    margin: 0 40px 60px 40px; }

.sign {
  height: 87px;
  padding-top: 95px;
  padding-bottom: 10px; }

.obligations_dash {
  margin-top: 20px;
  margin-bottom: 25px; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .sign {
    padding-top: 45px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
  .obligations_dash {
    height: 2px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: 5px;
    margin-bottom: 10px; }
  .obligations h3 {
    font-size: 1.33rem;
    margin-top: 10px; }
  .obligations p {
    font-size: 1.13rem;
    line-height: 1.8rem;
    width: 85%;
    margin: 0 25px 60px 25px; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .obligations {
    height: auto;
    width: 100%;
    float: left; }
  .sign {
    padding-top: 45px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85); }
  .obligations h3 {
    margin-top: 0; }
  .obligations_dash {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    margin-bottom: 30px; } }

/* Jobs */
.section_jobs {
  clear: both;
  text-align: center; }

.jobs_dash {
  margin-top: 10px;
  margin-bottom: 50px; }

.description {
  width: 50%;
  margin: auto;
  margin-bottom: 70px;
  font-size: 1.6rem;
  line-height: 2.3rem; }

.jobs {
  padding-top: 30px;
  padding-bottom: 30px; }
  .jobs.middle {
    background-color: #222222;
    color: #f2f2f2;
    padding-bottom: 40px;
    margin-bottom: 15px; }

.jobs_grip {
  margin: auto;
  width: 58%; }

.jobs h3 {
  font-size: 1.33rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-align: left; }

.jobs p {
  float: left;
  margin: -5px 0 35px 0;
  width: 60%;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: left;
  transform: scaleY(1.0007); }

.jobs ul {
  width: 100%;
  padding-left: 0;
  text-align: left;
  clear: both; }

.jobs li {
  color: #c41230;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
  transform: scaleX(1.0043);
  border-radius: 2px;
  border-width: 1px;
  border-color: #bbbbbb;
  border-style: solid;
  margin-right: 5px;
  padding: 10px 17px;
  width: 90px;
  height: 35px; }

ul.first li {
  padding: 10px 22px; }

ul.middle li {
  color: #f2f2f2;
  padding: 10px 24px; }

.jobs_button {
  float: right;
  padding: 10px 0 10px 0;
  color: inherit;
  background-color: inherit;
  margin-top: 5px;
  border-radius: 2px;
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  font-size: 0.93rem;
  letter-spacing: 0.1em;
  line-height: 1.6rem;
  width: 20%;
  min-width: 120px; }
  .jobs_button.middle {
    color: #f2f2f2;
    border-color: #f2f2f2; }
  .jobs_button:hover {
    border-color: #ee4461;
    box-shadow: 1px 1px 5px #ee4461; }

.jobs_spec_button {
  margin-top: 115px; }

.spec_button {
  background-color: #d7d7d7;
  padding: 20px 20px;
  width: 15.4%;
  height: 50px;
  color: #333333;
  font-size: 0.93rem;
  letter-spacing: 0.2em;
  line-height: 1.6rem; }
  .spec_button:hover {
    background-color: #e0e0e0;
    box-shadow: 1px 1px 5px #e0e0e0; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .description {
    width: 70%; }
  .jobs.middle {
    margin-top: 30px;
    margin-bottom: 25px; }
  .jobs_grip {
    width: 82%; }
  .jobs_spec_button {
    margin-top: 80px; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .jobs_dash {
    margin-bottom: 30px; }
  .description {
    width: 85%;
    font-size: 1.33rem;
    line-height: 2rem; }
  .jobs {
    background-color: #f8f7f5;
    padding-top: 10px;
    padding-bottom: 20px; }
    .jobs.middle {
      color: #222222;
      background-color: #ffffff;
      margin: 0;
      padding-bottom: 20px; }
  .jobs_grip {
    width: 90%; }
  .jobs h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem; }
  .jobs p {
    margin: -5px 0 15px 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.33rem; }
  .jobs li {
    color: #c41230;
    border: none;
    font-size: 0.93rem;
    font-weight: 300;
    line-height: 1.2rem;
    margin: 0;
    padding: 0 7px 0 0; }
  ul.first li {
    padding: 0 7px 0 0; }
  ul.middle li {
    color: #c41230;
    padding: 0 7px 0 0; }
  .jobs_button {
    display: none; }
  .jobs_spec_button {
    margin-top: 90px;
    margin-bottom: 90px; } }

/* About */
.section_about {
  background-color: #FBFBFB;
  margin-top: 120px;
  padding-bottom: 9%;
  text-align: center; }

.about_dash {
  margin-top: 15px;
  margin-bottom: 50px; }

.about_text {
  width: 58%;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: left; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .section_about {
    margin-top: 15%;
    padding-bottom: 12%; }
  .about_text {
    width: 82%; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .section_about h2 {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    line-height: 2.8rem; }
  .about_dash {
    margin-bottom: 35px; }
  .about_text {
    line-height: 2rem; } }

/* Mobile view */
@media screen and (max-width: 480px) {
  .section_about {
    padding-bottom: 20%; } }

/* Footer - Contact */
.follow_us {
  margin-bottom: 7%;
  text-align: center; }
  .follow_us a {
    margin-right: 3px;
    margin-left: 3px; }
    .follow_us a:hover {
      opacity: 0.8; }

.all_contacts {
  float: left;
  width: 100%;
  padding: 10% 0 5% 0;
  background-color: #222222; }

.all_contacts_wrapper {
  float: left;
  position: relative;
  left: 18%;
  width: 64%; }

.contact_cities {
  float: left; }
  .contact_cities.dubai {
    width: 40%; }
  .contact_cities.beirut {
    width: 35%; }

.city_name, .address {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: left; }

.city_name {
  font-size: 1.07rem;
  color: #f2f2f2; }
  .city_name img {
    vertical-align: text-bottom;
    margin-right: 10px; }

.bottom_contact {
  float: left;
  width: 100%;
  background-color: #1E1E1E; }

.bottom_contact_wrapper {
  float: left;
  position: relative;
  left: 18%;
  width: 60%;
  margin: 10px 0 10px 0; }

.bottom_contact p {
  float: left;
  color: #666666;
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: left; }
  .bottom_contact p:last-of-type {
    display: none; }

.bottom_contact_links {
  float: right;
  margin-top: 1.25%; }
  .bottom_contact_links img {
    width: 21px; }

.tweet_small {
  margin: auto 25px; }

.bottom_contact_links a:last-child {
  color: inherit;
  font-size: 0.93rem;
  text-align: left; }

.bottom_contact_links a:hover {
  opacity: 0.8; }

.bottom_contact_links.mob {
  display: none; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .follow_us {
    margin-bottom: 13%; }
  .all_contacts {
    padding: 13% 0 8% 0; }
  .all_contacts_wrapper {
    left: 8%;
    width: 84%; }
  .contact_cities.dubai {
    width: 36%; }
  .contact_cities.beirut {
    width: 35%; }
  .bottom_contact_wrapper {
    left: 5%;
    width: 90%;
    margin: 10px 0 10px 0; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .all_contacts_wrapper {
    left: 35%;
    width: 45%; }
  .contact_cities.dubai, .contact_cities.beirut, .contact_cities.belgrade {
    width: 100%; }
  .bottom_contact p:last-of-type {
    display: block;
    margin: 0 0 0 33%; }
  .bottom_contact p:first-of-type {
    display: none; }
  .bottom_contact_links {
    display: none;
    float: left;
    clear: left;
    margin: 8% 0 -4% 35%; }
    .bottom_contact_links.mob {
      display: block; }
    .bottom_contact_links img {
      width: initial; }
  .tweet_small {
    margin: 0 35px 0 20px; }
  .bottom_contact_links a:last-child {
    color: #666666;
    vertical-align: super; } }

/* Mobile view */
@media screen and (max-width: 480px) {
  .follow_us {
    margin-bottom: 20%; }
  .all_contacts {
    padding: 20% 0 8% 0; }
  .all_contacts_wrapper {
    left: 8%;
    width: 84%; }
  .bottom_contact p:last-of-type {
    margin: 0 0 0 4%; }
  .bottom_contact_links {
    margin: 10% 0 0 8%; } }

/* General */
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #222222; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #ffffff; }

.section_intro {
  color: #999999;
  font-size: 0.93rem;
  font-weight: 400;
  padding-top: 100px;
  letter-spacing: 0.1em;
  line-height: 2.3rem; }

.section_headers {
  font-size: 3.33rem;
  font-weight: 400;
  line-height: 1.6rem; }

.obligations p, .address, .bottom_contact {
  color: #666666; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li, .city_name {
  display: inline; }

a, li {
  font-weight: 500; }

.nav_menu li, .nav_menu_bottom p, .banner_text h1, .banner_ptag_short, .obligations h3, .section_jobs h2, .jobs h3, .jobs_button, .spec_button, .section_about h2, .section_contacts + p, .city_name, .section_intro, .bottom_contact p {
  text-transform: uppercase; }

/* Tablet view */
@media screen and (max-width: 1024px) {
  .section_intro {
    padding-top: 80px; } }

/* Portrait tablets view, etc. */
@media screen and (max-width: 640px) {
  .section_intro {
    padding-top: 60px; }
  .section_headers {
    font-size: 2.66rem;
    font-weight: 600; } }
